#search{
    width: 1230px;
    margin:0 auto;
}
.logo{
    float: left;
    margin-left: -57px;
}
.search-box{
    float: left;
    margin-left: 70px;
    margin-top: 38px;
    overflow: hidden;
}
.search-txt{
    width: 483px;
    height: 26px;
    border: 2px solid #ff0036;
    padding: 5px 3px 5px 5px;
    outline: none;
    float: left;
    font:14px/1.5 tahoma,arial,"\5b8b\4f53";
}
.search-btn{
    width: 128px;
    height: 40px;
    background: #ff0036;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    border: 2px solid #ff0036;
}
.search-list{
    margin-top: 9px;
    margin-left: -13px;
}
.search-list li{
    float: left;
    padding:0 12px;
    border-left:1px solid #999;
    line-height: 1.1;
}
.search-list li a{
    color: #999;
    font-size: 14px;
}
.search-list li.search-list2 a{
    color: #ff0036
}
/* 水平分类 */
.inner-cont{
    height: 35px;
    line-height: 35px;
    width: 860px;
    margin:0 auto;
    padding: 0 200px;
}
.inner-cont img{
    width: 100px;
    height: 30px;
    margin-top: 2px;
    padding: 0 5px;
}
.inner-cont a{
    font-size: 16px;
    font-weight: 500;
    color: #333;
    float: left;
    padding: 0 5px;
    font-weight: 500;
}
.inner-cont a:hover{
    color: #ff0036;
}
/* 主内容区域 */
.content{
    height: 1000px;
    background:url(../images/bg.jpg) center -207px no-repeat
}
.slide-content{
    height: 500px;
    width: 1239px;
    margin: 0 auto;
    position: relative;
}
.category{
    width: 200px;
    margin-left: -7px;
    height: 500px;
    position: absolute;
    top:-36px;
}
.cate-title{
    height: 36px; 
    line-height: 36px;
    color: #fff;
    background: #ff0036;
    padding: 0 8px;
}
.cate-title i{
    padding: 0 3px;
}
.main-cate-box{
    background: rgba(0,0,0,0.55);
    height: 500px;
    position: relative;
}
.category .main-cate{
    height: 31px;
    line-height: 31px;
    padding: 0 8px;
}
.main-cate span{
    color: #fff;
    font-size: 14px;
}
.main-cate>a{
    color: #fff;
    font-size: 14px;
}
.main-cate:hover{
    background: #fff;
}
.category .main-cate:nth-child(1):hover>a{
    color: #e54077;
}
.category .main-cate:nth-child(1):hover>span{
    color: #e54077;
}
.category .main-cate:nth-child(2):hover>a{
    color: #e54077;
}
.category .main-cate:nth-child(2):hover>span{
    color: #e54077;
}
.category .main-cate:nth-child(3):hover>span{
    color: #6347cd;
}
.category .main-cate:nth-child(3):hover>a{
    color: #6347cd;
}
.category .main-cate:nth-child(4):hover>span{
    color: #e54077;
}
.category .main-cate:nth-child(4):hover>a{
    color: #e54077;
}
.category .main-cate:nth-child(5):hover>span{
    color: #6347cd;
}
.category .main-cate:nth-child(5):hover>a{
    color: #6347cd;
}
.category .main-cate:nth-child(6):hover>span{
    color: #e54077;
}
.category .main-cate:nth-child(6):hover>a{
    color: #e54077;
}
.category .main-cate:nth-child(7):hover>span{
    color: #fa5c5c;
}
.category .main-cate:nth-child(7):hover>a{
    color: #fa5c5c;
}
.category .main-cate:nth-child(8):hover>span{
    color: #e54077;
}
.category .main-cate:nth-child(8):hover>a{
    color: #e54077;
}
.category .main-cate:nth-child(9):hover>span{
    color: #f7a831;
}
.category .main-cate:nth-child(9):hover>a{
    color: #f7a831;
}
.category .main-cate:nth-child(10):hover>span{
    color: #427def;
}
.category .main-cate:nth-child(10):hover>a{
    color: #427def;
}
.category .main-cate:nth-child(11):hover>span{
    color: #dd2727;
}
.category .main-cate:nth-child(11):hover>a{
    color: #dd2727;
}
.category .main-cate:nth-child(12):hover>span{
    color: #e54077;
}
.category .main-cate:nth-child(12):hover>a{
    color: #f7a831;
}
.category .main-cate:nth-child(13):hover>span{
    color: #f7a831;
}
.category .main-cate:nth-child(13):hover>a{
    color: #3bc7b0;
}
.category .main-cate:nth-child(14):hover>span{
    color: #3bc7b0;
}
.category .main-cate:nth-child(14):hover>a{
    color: #e54077;
}
.category .main-cate:nth-child(15):hover>span{
    color: #e54077;
}
.category .main-cate:nth-child(15):hover>a{
    color: #e54077;
}
.category .main-cate:nth-child(16):hover>span{
    color: #3bc7b0;
}
.category .main-cate:nth-child(16):hover>a{
    color: #3bc7b0;
}
.cate-sub-list{
    width: 805px;
    height: 500px;
    background: #fff;
    position: absolute;
    left: 200px;
    top: 0;
    display: none;
}
.category .main-cate:hover .cate-sub-list{
    display: block;
}
.list-left{
    width: 572px;
    height: 462px;
    float: left;
    padding: 19px 19px;
}
.list-right{
    width: 189px;
    height: 500px;
    float: right;
}
.list-left-title{
    width: 92px;
    float: left;
    color:#333;
    font-size: 14px;
    font-weight: 700px;
    line-height: 22px;
    margin-top: 5px;

}
.list-left-con{
    width: 480px;
    float: left;
    border-bottom: 1px dashed rgba(0,0,0,0.1);
}
.list-left-con a{
    color: #666;
    font-size: 14px;
    margin-right:13px;
}
.list-left-con li{
    float: left;
}
.list-left-row{
    margin: 5px 0;
}
.list-left-con a.special-color{
    color:#e54077;
}
.list-left-con a:hover{
    color: #e54077;
}
.space1{
    letter-spacing: 7px;
}
.list-left-title span{
    color:#666;
}
/* 轮播图 */
.slide-img-box img{
    width: 1230px;
    display: block;
    height: 500px;
}
.slide-box{
    position: relative;
    height: 500px;
}
.slide-box a{
    position: absolute;
    left: 0px;
    top: 0px;
}
.slide-button-box{
    position: absolute;
    bottom: 50px;
    left:50%;
    width: 200px;
    transform: translateX(-50%);
}
/* 品牌闪购 */
.brand-sale{
    height: 300px;
    margin-top: 30px;
}
.brand-list{
    width: 234px;
    background: #fff;
    float: left;
}
.brand-list-title{
    padding-left: 11px;
    height: 54px;
    line-height: 54px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;

}
.brand-title-cn{
    font-size: 18px;
    color:#333;
    font-weight: 700px;
    margin-right: 20px;
}
.brand-title-en{
    font-size: 14px;
    color:#333;
    font-weight: 700px;
}
.brand-more{
    float: right;
    height: 18px;
    margin-top: 5px;
    margin-right: 15px;
}
.brand-more img{
    width: 18px;
    height: 18px;
}
.brand-list-img img{
    width: 234px;
    height: 316px;
    display: block;
}
.brand-list2{
    width: 485px;
    margin-left: 12px;
}
.brand-list2 .brand-list-img img{
    width: 485px;
}
.brand-list2 .brand-more span{
    line-height: normal;
    vertical-align: 3.5px;
    font-size: 16px;
    color: #666;
    padding-right: 6px;

}